@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --n: 100;
}

*:focus {
  outline: none !important;
}

button:focus {
  border: 0px solid rgba(0, 0, 0, 0);
}

.delay-250ms {
  animation-delay: 0.25s;
}

.delay-500ms {
  animation-delay: 0.5s;
}

.delay-750ms {
  animation-delay: 0.75s;
}

.delay-1000ms {
  animation-delay: 1s;
}

.delay-1250ms {
  animation-delay: 1.25s;
}

.delay-1500ms {
  animation-delay: 1.5s;
}

.delay-1750ms {
  animation-delay: 1.75s;
}

.delay-2000ms {
  animation-delay: 2s;
}

span.delay-child-500ms {
  animation-delay: 0.5s;
}

span.delay-child-750ms {
  animation-delay: 0.5s;
}

span.delay-child-1000ms {
  animation-delay: 1s;
}

span.delay-child-1250ms {
  animation-delay: 1.25s;
}

span.delay-child-1500ms {
  animation-delay: 1.5s;
}

.fade-animation:not(span) {
  visibility: hidden;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-play-state: running;
  animation-timeline: auto;
  animation-fill-mode: forwards;
  animation-name: fadeInAnimation;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

.type-left {
  color: #0000;
  background: linear-gradient(-90deg, #fff 5px, #0000 0) 10px 0,
    linear-gradient(#fff 0 0) 0 0;
  background-size: calc(var(--n) * 1ch) 200%;
  -webkit-background-clip: padding-box, text;
  background-clip: padding-box, text;
  background-repeat: no-repeat;
  animation: b 0.2s infinite steps(1), t 1s steps(var(--n)) forwards;
  white-space: pre-line;
}

.type-right {
  color: #0000;
  background: linear-gradient(-90deg, #4f46e5 5px, #0000 0) 10px 0,
    linear-gradient(#4f46e5 0 0) 0 0;
  background-size: calc(var(--n) * 1ch) 200%;
  -webkit-background-clip: padding-box, text;
  background-clip: padding-box, text;
  background-repeat: no-repeat;
  animation: b 0.2s infinite steps(1), t 1s steps(var(--n)) forwards;
  white-space: pre-line;
}

@keyframes t {
  from {  
    background-size: 0 200%;
  }
}
@keyframes b {
  50% {
    background-position: 0 -100%, 0 0;
  }
}
